// todo organize variables into maps and fix the code where u used every variable

// FONTS
$main-font-family: "Lato", sans-serif;
$default-font-size: 1.6rem;

$main-border-radius: 5px;

// COLORS
$color-main: #55c57a;
$color-main-dark: #28b485;
$color-main-light: #7ed56f;

$color-orange-dark: #ff7730;
$color-orange-light: #ffb900;

$color-blue-dark: #5643fa;
$color-blue-light: #2998ff;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 114rem;
$row-gap: 8rem;
$column-gap: 6rem;
