.grid {
  max-width: $grid-width;
  margin: 0 auto;
  display: grid;
  column-gap: $column-gap;
  @include media-query(tab-port) {
    grid-template-columns: 1fr !important;
    max-width: 50rem;
    padding: 0 3rem;
  }
  &--container {
    row-gap: $row-gap;
    @include media-query(tab-port) {
      row-gap: $row-gap-sm;
    }
    margin: 0 auto;
  }
  &-2-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  &-3-cols {
    grid-template-columns: repeat(3, 1fr);
    .col-2-of-3 {
      grid-column: span 2;
    }
  }
  &-4-cols {
    grid-template-columns: repeat(4, 1fr);
    .col {
      &-2-of-4 {
        grid-column: span 2;
      }
      &-3-of-4 {
        grid-column: span 3;
      }
    }
  }
}
