.header {
  height: 85vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-main-light, 0.8),
      rgba($color-main-dark, 0.8)
    ),
    url("../media/hero-small.jpg");
  background-size: cover;
  background-position: top;
  position: relative;

  @supports (
    clip-path: polygon(0 0) or
      (
        -webkit-clip-path: polygon(0 0),
      )
  ) {
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  }

  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-main-light, 0.8),
        rgba($color-main-dark, 0.8)
      ),
      url("../media/hero.jpg");
  }

  @include media-query(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    animation: moveFromLeft 1s ease-in;
  }

  &__logo {
    height: 3.5rem;
  }

  &__content-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
